body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:lightpink;
}
h1{
    text-align: center;
    font-size: 35px;
}
.container{
    border: solid;
    background-color: rgb(194, 146, 192);
    text-align: center;
    margin-top: 5%;
    font-size: 25px;
    padding: 10px;
    margin-left: 10%;
    margin-right: 10%;
}
button{
    background-color: green;
    color: white;
    border: none;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;  
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.5s;
}
#btn4{
    background-color: red;
    color: white;
    margin-bottom: 10px;
}
button:hover{
    background-color: rgb(48, 182, 48);
}
#btn4:hover{
    background-color: rgb(231, 92, 92);
}
